
.btn {
    background: var(--secondary-color);
    border-radius: var(--radius);
    box-shadow: 0 0 var(--radius) var(--black-3);
    cursor: pointer;
    color: var(--white);
    padding: .65rem 1rem;
    margin: .5rem 0;
    font-size: 80%;
}

.btn:active {
    background: var(--purple) !important;
    box-shadow: none;
}
